<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
      <add name="connectionStandar" connectionString="Data Source=PITAGORAS;Initial Catalog=Todacosa;User=ytodaco;password=ytodaco"/>
  </connectionStrings>
  
    <appSettings>
      <add key="cp_usersHtml" value="\\PITAGORAS\EspLst_v2016\Net\AppsClubProfesionales\Templates\cp_users.html"/>
      <add key="cp_usersHeader" value="\\PITAGORAS\EspLst_v2016\Net\AppsClubProfesionales\Templates\cp_usersHeader.jpg"/>
      <add key="Cp_usersFoot" value="\\\\PITAGORAS\EspLst_v2016\Net\AppsClubProfesionales\Templates\cp_usersFoot.jpg"/>
      <add key="cp_Asunto" value="LISTO CLUB DEL PROFESIONAL - NUEVA CLAVE"/>
      <add key="UserCuentaEmail" value="solucionalcliente@listo.co"/>
      <add key="UserPasswordEmail" value="9paU}3]?>j8"/>
     </appSettings> 
</configuration>
